@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <form method="post">
                <button type="submit" class="btn btn-danger">Log out</button>
            </form>
        </section>
    </div>
</div>
